<!--include header-->
<%-include('include/_header')%>
<!--/include header-->

<!--Main Site-->
<main id="site-main">
  <div class="container">
    <div class="box-nav d-flex justify-between">
      <div class="filter">
        <a href="/"
          ><i class="fas fa-angle-double-left"></i>Todos os Cadastros</a
        >
      </div>
    </div>
    <div class="form-title text-center">
      <h2 class="text-dark">Atualizar Cadastro</h2>
      <span class="text-light"
        >Use o formulario abaixo para atualizar o cadastro</span
      >
    </div>
    <!--add user form-->
    <!--form handling-->
    <form method="POST" id="update_user">
      <div class="new_user">
        <!--User Name-->
        <div class="form-group">
          <label for="name" class="text-light">Nome</label>
          <input type="hidden" name="id" value="<%=cadastro._id%>" />
          <input
            type="text"
            name="Nome"
            value="<%=cadastro.Nome%>"
            placeholder="José da Silva"
          />
        </div>
        <!--User Code-->
        <div class="form-group">
          <label for="Registro" class="text-light">Registro</label>
          <input
            type="tel"
            name="Registro"
            value="<%=cadastro.Registro%>"
            placeholder="00.000.00"
          />
        </div>
        <!--User Phone-->
        <div class="form-group">
          <label for="Telefone" class="text-light">Telefone Fixo</label>
          <input
            type="tel"
            name="Telefone"
            value="<%=cadastro.Telefone%>"
            placeholder="(00)00000-0000"
          />
        </div>
        <!--User Mobile Phone-->
        <div class="form-group">
          <label for="Celular" class="text-light">Telefone Celular</label>
          <input
            type="tel"
            name="Celular"
            value="<%=cadastro.Celular%>"
            placeholder="(00)00000-0000"
          />
        </div>
        <!--User Zip Code. Only works for brazilian zip codes-->
        <div class="form-group">
          <label for="CEP" class="text-light">CEP</label>
          <input type="number" name="CEP" value="<%=cadastro.CEP%>" />
        </div>
        <!--User Address Number-->
        <div class="form-group">
          <label for="Numero" class="text-light">Número</label>
          <input type="number" name="Numero" value="<%=cadastro.Numero%>" />
        </div>
        <!--User Address Complement-->
        <div class="form-group">
          <label for="Complemento" class="text-light">Complemento</label>
          <input
            type="number"
            name="Complemento"
            value="<%=cadastro.Complemento%>"
          />
        </div>
        <!--User Specialities-->
        <div class="form-group">
          <label for="Especialidades" class="text-light">Especialidades</label>
          <div class="radio inline">
            <input type="checkbox" name="Especialidades" value="Alergologia" <%for(var i = 0; i<cadastro.Especialidades.length;i++){%><%=cadastro.Especialidades[i]=='Alergologia'?'checked':""%><%}%>/>
            <label for="Especialidades" class="text-light">Alergologia</label>
          </div>
          <div class="radio inline">
            <input type="checkbox" name="Especialidades" value="Angiologia" <%for(var i = 0; i<cadastro.Especialidades.length;i++){%><%=cadastro.Especialidades[i]=='Angiologia'?'checked':""%><%}%>/>
            <label for="Especialidades" class="text-light">Angiologia</label>
          </div>
          <div class="radio inline">
            <input type="checkbox" name="Especialidades" value="Buco_Maxilo" <%for(var i = 0; i<cadastro.Especialidades.length;i++){%><%=cadastro.Especialidades[i]=='Buco Maxilo'?'checked':""%><%}%>/>
            <label for="Especialidades" class="text-light">Buco Maxilo</label>
          </div>
          <div class="radio inline">
            <input
              type="checkbox"
              name="Especialidades"
              value="Cardiologia_Clinica"
              <%for(var i = 0; i<cadastro.Especialidades.length;i++){%><%=cadastro.Especialidades[i]=='Cardiologia Clínica'?'checked':""%><%}%>
            />
            <label for="Especialidades" class="text-light"
              >Cardiologia Clínica</label
            >
          </div>
          <div class="radio inline">
            <input
              type="checkbox"
              name="Especialidades"
              value="Cardiologia_Infantil"
              <%for(var i = 0; i<cadastro.Especialidades.length;i++){%><%=cadastro.Especialidades[i]=='Cardiologia Infantil'?'checked':""%><%}%>
            />
            <label for="Especialidades" class="text-light"
              >Cardiologia Infantil</label
            >
          </div>
          <div class="radio inline">
            <input
              type="checkbox"
              name="Especialidades"
              value="Cirurgia_Cabeça_E_Pescoço"
              <%for(var i = 0; i<cadastro.Especialidades.length;i++){%><%=cadastro.Especialidades[i]=='Cirurgia Cabeça e Pescoço'?'checked':""%><%}%>
            />
            <label for="Especialidades" class="text-light"
              >Cirurgia Cabeça e Pescoço</label
            >
          </div>
          <div class="radio inline">
            <input
              type="checkbox"
              name="Especialidades"
              value="Cirurgia_Cardiaca"
              <%for(var i = 0; i<cadastro.Especialidades.length;i++){%><%=cadastro.Especialidades[i]=='Cirurgia Cardíaca'?'checked':""%><%}%>
            />
            <label for="Especialidades" class="text-light"
              >Cirurgia Cardíaca</label
            >
          </div>
          <div class="radio inline">
            <input
              type="checkbox"
              name="Especialidades"
              value="Cirurgia_Torax"
              <%for(var i = 0; i<cadastro.Especialidades.length;i++){%><%=cadastro.Especialidades[i]=='Cirurgia de Torax'?'checked':""%><%}%>
            />
            <label for="Especialidades" class="text-light"
              >Cirurgia de Torax</label
            >
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn text-dark update">Salvar</button>
        </div>
      </div>
    </form>
  </div>
</main>
<!--/Main Site-->

<!--include footer-->
<%-include('include/_footer')%>
<!--/include footer-->
